body{
  text-align:center;
  font-family:Open Sans,sans-serif;
  background-color:#8a71c9;
  color:#ffffff;
  margin:0px 0px 30px 0px;
}

h2{
  color:#2a0074;
  font-size:40px;
}

.titulo-verde{
  color:#04ff9f;
}

.titulo-vermelho{
  color:#FF9E9E;
}

.titulo-amarelo{
  color:#ffe36d;
}

section{
  width:60%;
  margin:0 auto;

}

section section{
  width:100%;
}

h1{
   font-size:60px;
   font-weight:300;
}


h3{
  font-size:22px;
  font-style: italic;
}

p{
  font-size:20px;
  line-height:1.5;
}

img{
  width:100%;
}

ul{
  list-style-type:none;
  line-height:2;
  padding-left:0;
}

a{
  text-decoration:none;
  color:#99ffff;
  font-weight:700;

}

.principal a{
  color:#FFF;
  text-decoration:underline;
  font-weight: normal;
  
}

.principal li{
  display:inline-block;
  line-height: 2.5;
  margin:0 89px;
}


.principal{
  background:#ff6cb5;
  height: 40px;
  max-width: 60%;
  margin: 0 auto;
 
}

button{
  border: 1px solid transparent;
  border-radius: 3px;
  padding: 2px 20px;
  background-color: #41f341;
}